h1=title
body 
    ul 
        li NewConfirmed: #{result.NewConfirmed}
        li TotalConfirmed: #{result.TotalConfirmed}
        li NewDeaths: #{result.NewDeaths}
        li TotalDeaths: #{result.TotalDeaths}
        li NewRecovered: #{result.NewRecovered}
        li TotalRecovered: #{result.TotalRecovered}
        li Date: #{result.Date}